@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

#balance {
    margin-right: 220px;
}

#income-expense {
    display: flex;
    flex-direction: row;
    background-color: white;
    gap: 40px;
    padding: 10px 70px;
    margin: 20px 0px;
    box-shadow: 2px 2px 2px 2px #ddd6d6;
}

#green {
    color: green;
}

#brown {
    color: brown;
}

#history {
    padding: 20px;
}

#history-h3 {
    margin-right: 300px;
}

#transaction-h3 {
    margin-right: 200px;
}

#input {
    width: 95%;
    padding: 10px 7px;
    border: 1px solid #ddd6d6;
}

#button {
    cursor: pointer;
    width: 100%;
    margin: 20px 0px;
    padding: 10px 0px;
    border: 1px solid #ddd6d6;
    background-color: mediumslateblue;
    color: whitesmoke;
    border-radius: 3px;
}

#button:hover {
    background-color: royalblue;
    transition: 0.5s;
}